/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #241f19;
    font-size: 1em;
    line-height: 1.4;
    scroll-behavior: smooth; 
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
  
  /* General Styles */
  
  body {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    color: #241f19;
    background-color: #ede9e6;
  }
  
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #86756a;
    text-decoration: none;
  }
  
  h1 {
    color: #86756a;
    font-family: 'Cinzel', serif;
    font-size: 1.75rem;
    line-height: 1.25;
    width: 100%;
  }
  
  h2 {
    color: #86756a;
    font-family: 'Cormorant SC', serif;
    font-size: 1.7rem;
    line-height: 1;
    font-weight: 600;
    width: 100%;
  }
  
  h3 {
    color: #241f19;
    font-family: 'Cormorant SC', serif;
    font-size: 1.25rem;
    line-height: 1.25;
  }
  
  figure {
    margin: 10px 0 5px 0;
  }
  
  /* Structural Styles */
  
  header,
  #page-title,
  #projects,
  #skills,
  #about,
  footer {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: row wrap;
  }
  
  #projects p,
  #about p {
    width: 100%;
  }
  
  .content-wrapper {
    width: 85%;
  }
  
  .skills-tools-text {
    text-align: left;
    padding: 0px;
  }
  
  header {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  
  header img {
    width: 25%;
  }
  
  nav {
     margin-top: 20px;
  }
  
  #page-title {
    padding-top: 30px;
  }
  
  #projects {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  
  .portfolio-item h3 {
    padding-top: 20px;
  }
  
  .project-link {
    margin: 40px 0;
  }
  
  .project-description {
    margin-bottom: 20px;
  }
  
  #skills {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  
  #about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  footer {
    padding: 50px 0px 10px 0;
  }
  
  #profile-image {
    width: 60%;
    padding: 10px;
    border: #241f19 1px solid;
  }
  
  footer .content-wrapper {
    width: 60%;
  }
  
  footer .email {
    padding-top: 15px;
  }

  .copyright-section {
    padding-top: 20px;
  }
  
  /* ------------- Base Header Styles --------------- */
  
  header {
    background-color: #241f19;
  }
  
  header nav ul li {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 5px;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
  }
  
  header nav a:hover {
    color: #ede9e6;
  }
  
  /* -------------- Main Styles -------------*/
  
  #page-title .content-wrapper {
    display: flex;
    justify-content: center;
    text-align: left;
  }
  
  .main-title h1 {
    font-family: "Montserrat", sans-serif;
    color: #241f19;
    font-weight: 300;
    font-size: 1.4em;
    line-height: 1.25em;
  }
  
  .mariana {
    font-family: "Cinzel", serif;
    font-weight: 700;
    font-size: 1.1em;
    color: #86756a;
    padding-left: 30px;
  }
  
  .venancio {
    font-family: "Cinzel", serif;
    font-weight: 400;
    font-size: 1.1em;
    color: #86756a;
  }
  
  .third-line {
    padding-left: 20px;
  }
  
  .job-title {
    font-family: "Cormorant Garamond";
    font-weight: 300;
    font-style: italic;
    font-size: 1.2em;
  }
  
  /* Projects */
  
  #work,
  #skills {
    width: 100%;
  }
  
  #work h3 {
   width: 100%;
   padding-top: 10px;
  }
  
  .portfolio-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
  }
  
  .portfolio-title {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  
  .portfolio-item {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .portfolio-item figure {
    width: 100%;
    padding: 10px;
    border: 1px solid #241f19;
  }
  
  .portfolio-item img {
    width: 100%;
  }
  
  .project-link {
    font-family: 'Montserrat', serif;
    font-size: 1em;
    text-transform: uppercase;
    color: #ede9e6;
    background-color: #241f19;
    padding: .5rem 1.25rem;
  
  }
  
  .project-link:hover {
    color: #86756a;
  }
  
  
  .skills-tools-text {
    line-height: 0.5px;
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
  }
  
  /* Skills & Tools */
  
  #skills {
    background-color: #241f19;
  }
  
  #skills ul {
    color: #ede9e6;
    font-family: 'Montserrat', sans-serif;
  }
  
  #skills ul li {
    padding-top: 5px;
  }
  
  #skills ul li:hover {
    color: #86756a;
  }
  
  /* About */
  
  .profile-image {
    width: 90%;
  }
  
  .about-text {
    text-align: left;
  }
  
  footer {
    background-color: #241f19;
  }
  
  footer h2 {
    color: #ede9e6;
    text-transform: uppercase;
  }
  
  footer p {
    color: #ede9e6;
  }
  
  footer .email {
    font-size: 1.2em;
  }

  footer a {
    color: #ede9e6;
    font-family: 'Montserrat', sans-serif;
  }
  
  footer a:hover {
    color: #86756a;
  }
  
  .footer-divider {
    align-items: center;
    background-color: #ede9e6;
    margin: 10px 0 20px 0;
    height: 1px;
    width: 100%;
  }
  
  footer .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons p {
    justify-content: space-between;
    padding: 0 30px;
    font-size: 2.5em;
  }
  
  footer .copyright {
    font-family: 'Cormorant SC', serif;
    font-size: .75rem;
    font-weight: 400;
  }
  
  /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden,
  [hidden] {
    display: none !important;
  }
  
  /*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
  
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
   * Hide visually and from screen readers, but maintain layout
   */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  
  .clearfix::before,
  .clearfix::after {
    content: " ";
    display: table;
  }
  
  .clearfix::after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
  @media only screen and (min-width: 768px) {
    /* Tablet styles here */
  
    /* General Styles */
  
    .content-wrapper {
      max-width: 640px;
    }
  
    /* Font Styles */
    .main-title h1 {
      font-size: 2.5em;
    }
  
    h2 {
      font-size: 2em;
    }
  
    h3 {
      font-size: 1.5rem;
    }
  
    header nav ul li {
      font-size: 1.2em;
    }
  
    /* Header */
    header {
      justify-content: space-around;
      padding: 20px 0px;
    }
  
    header .content-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    header figure {
      width: 30%;
    }
  
    header img {
      width: 55%;
      padding-right: 20px;
    }
  
    header nav {
      width: 70%;
    }
  
    header nav ul {
      justify-content: space-between;
    }
  
    header nav ul li {
      padding: 0 10px;
    }
  
    /* Hero Area */
  
    .fourth-line {
      padding-left: 40px;
    }
  
  
   /* Projects */
   
   .portfolio-wrapper {
    justify-content: space-around;
   }
  
   .portfolio-item {
    width: 45%;
    align-items: center;
   }
  
   .portfolio-item figure {
    width: 90%;
   }
  
   .portfolio-description {
    width: 95%;
   }
  
   .skills-tools-text {
    width: 100%;
   }
  
  /* Skills */ 
   
  .skills-title {
    display: flex;
    justify-content: center;
    padding: 0 20px;
  }
  
  .skills-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }
  
  /* About */
  
  .about-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #about figure,
  .about-info {
    width: 49%;
  }
  
  #about figure {
    margin: 20px 0 10px 0;
  }
  
  #about img {
    width: 80%;
  }
  
  
  #about p {
    font-size: .8em;
  }
  
  /* Footer */
  
  .contact-title {
    font-size: 1.75em;
  }

  .social-icons p {
    font-size: 3em;
  }
  
  
  }
  
  @media only screen and (min-width: 1024px) {
    
    /* Laptops and tablets landscape */
  
    /* General Styles */
  
    .content-wrapper {
      max-width: 900px;
    }
  
    /* Header */
  
    header nav {
      font-size: 1em;
      display: flex;
      width: 70%;
      justify-content: flex-end;
    }
  
    header figure {
      width: 20%;
    }
  
    header {
      padding: 5px 0;
    }
  
    /* Hero Area */
  
    .main-title h1 {
      font-size: 3em;
    }
  
  
    /* About */
  
    #about img {
      width: 75%;
    }
  
    #about p {
      font-size: 1em;
    }
  

  }
  
  @media only screen and (min-width: 1200px) {
  
    /* Desktops Styles */
  
    .content-wrapper {
      max-width: 1450px;
    }
  
    /* Header */
  
    header {
      padding: 0 20px 10px 20px;
    }
  
    header nav {
      font-size: 1.5em;
      padding-right: 20px;
    }
  
    /* Hero Area */
  
    .main-title h1 {
      font-size: 3.9em;
    }
  
    /* Font Styles */
  
    h2 {
      font-size: 3em;
    }
  
    h3 {
      font-size: 2.5em;
    }
  
    p {
      font-size: 1.5em;
    }
  
    .skills-tools-text {
      font-size: 1.4em;
    }
  
    .project-link {
      font-size: 1.4em;
    }
  
    #skills li {
      font-size: 1.5em;
    }
  
    #about p {
      font-size: 1.1em;
    }
  
    footer .contact-title {
      font-size: 2em;
    }
  
    footer a {
      padding-top: 30px;
      font-size: 1.2em;
    }
  
    /* Skills */
  
    .skills-wrapper {
      padding: 0 100px;
    }
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]::after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }
  
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }